@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@300;700;900&display=swap');

.App {
  text-align: center;
  background: #EDDDD6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePageHero {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/MobileShort.png");
  background-size: cover;
  text-align: left;
  margin-top: 0px;
}

.homeInicio {
  background-color: #7c6053;
  color: whitesmoke;
  padding: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  border-color: #7c6053;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  width: 30vw;
}

.homeTxtInicio {
  font-size: 14px;
  margin: 25px;
  margin-top: 280px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  font-weight: 600;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0vh;
}

.dropdown > button {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  width: 50px;
}
.dropdown > button:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  color: rgba(0, 0, 0, 0) !important;
}

.profilesPageMain {
  background-image: url("./assets/04\ -\ Perfis\ teste02.png");
  background-size: cover;
}

.profilesSub {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #7c6053;
  font-weight: 900;
  text-align: left;
  margin-left: 25px;
}

.profilesCrie {
  background-color: #7c6053;
  color: whitesmoke;
  margin-top: 30px;
  padding: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  border-color: #EDDDD6;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  width: 30vw;
}


.h5 {
  font-size: 18px !important;
  color: #2B2B2B !important;
}

.h6 {
  font-size: 14px !important;
  color: #2B2B2B !important;
}